@import '~@/styles/variable.less';

.entertainment {
  display: flex;
  flex-grow: 1;
  width: 100%;

  .sider {
    position: relative;
    flex-shrink: 0;
    width: @siderHeight;
    height: 100%;
    background-color: @colorBgLayout;
    transition: all 180ms;
    overflow: hidden;

    .menu {
      height: 100%;
    }

    &.collapsed {
      width: @collapsedSiderHeight;
    }
  }

  .content {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
  }
}
