@import '~@/styles/variable.less';

.entertainment {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: calc(100% - @headerHeight);

  .sider {
    position: relative;
    flex-shrink: 0;
    width: @siderHeight;
    height: 100%;
    overflow: hidden;
    background-color: @colorBgLayout;
    transition: all 180ms;

    .menu {
      height: 100%;
    }

    &.collapsed {
      width: @collapsedSiderHeight;
    }
  }

  .content {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
  }

  &.collapsed {
    height: calc(100% - @collapsedSiderHeight);
  }
}
